<header>
    <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-md-7">
            <h4 class="text-white">About</h4>
            <!-- <p class="text-muted">I’m a passionate software developer with a vision for shaping the future through innovative technology. 
                My love for programming began with creating systems and solving problems, and it has grown into a career focused on crafting 
                user-centric solutions that make life easier and more convenient. With expertise in UI design, front-end development, and 
                technologies like Angular and TypeScript, I bring a thoughtful, adaptable approach to every project. Whether releasing platforms 
                like Helix at Infosys or collaborating with other professionals, I prioritize clear communication, integrity, and sustainability 
                in my work. If you share my vision for impactful technology, explore my portfolio and let’s connect!</p> -->
            <p class="text-muted">I’m a software developer with a vision for shaping the future with innovative technology. 
                I became passionate about programming when I found I could create systems and solve problems, and since then it has grown into a desire to  
                focus on crafting user-centric solutions to make life easier and more convenient. My expertise is in UI design, front-end development, and 
                technologies based around Angular and TypeScript. I bring a thoughtful, adaptable approach to every project. I prioritize clear 
                communication, integrity, and sustainability in my work. If you share my vision for impactful technology, explore my portfolio and let’s connect!</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/zzumtobel/" class="text-white">Linkedin</a></li>
            <li><a href="#" class="text-white">Email Me</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Zachary ZumTobel</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
</header>