.sidebar-anchor{
    /*
    position: fixed;
    top: 0; 
    left: 0; 
    height: 100%; 
    bottom: 45px; 
    min-height: 0 !important; 
    */
    /* min-height: 50%;
    max-height: 95%; */
    position: fixed;
    top: 0px;
    bottom: 45px;
    z-index:2000;
}

.header-anchor{
    position: sticky;
    top: 0px;
    z-index:1000;
}