/* You can add global styles to this file, and also import other style files */
html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
}

/*  and (orientation: landscape)
    and (orientation: portrait) */

@media only screen and (max-width: 600px){
.p{
color:red;
}
}
@media only screen and (max-width: 600px){
    .p{
color:blue;
}
}

@media only screen and (min-width: 601px) {
.p{
color:green;
}
}

@media only screen and (max-width: 768px) {
.p{
color:gold;
}
}

@media only screen and (max-width: 992px) {
/* disable sidebar here */
.p{
color:orange;
}
}

@media only screen and (max-width: 1200px) {
.p{
color:greenyellow;
}
}