.icon{
    height: 64px;
    width: 100%;
}

.smIcon{
    height: 24px;
    width: 100%;
    display: inline-block;
}

.smallDivide{
    border: none;
    height: 1px;
    /* Set the hr color */
    background-color: #333;  /* Modern Browsers */
}

.bigDivide{
    border: none;
    height: 3px;
    /* Set the hr color */
    background-color: #333;  /* Modern Browsers */
    border-radius: 13px;
}

.logo{
    height: 64px;
}

.card-design {
    height: 22vw;
}

.card-space{
    height: 14vw;
}