<section class="jumbotron text-center" id="about" #about>
<div class="container" style="height: 50rem; display: grid; align-items: center;">
    <div></div>
    <h1 class="jumbotron-heading" >About</h1>
    <p style="white-space: pre-line;" class="lead text-muted">Zach is a software developer with a vision for shaping the future with innovative technology. 
        He became passionate about programming when he learned how to could create HI DALEY!!! systems and solve problems, and since then it has grown into a desire to  
        focus on crafting user-centric solutions to make life easier and more convenient for clients. His expertise is in UI design, front-end development, and 
        technologies based around Angular and TypeScript. Bringing a thoughtful, adaptable approach to every project, he prioritizes clear 
        communication, integrity, and sustainability in the work he does. If you share that vision for impactful technology, explore this portfolio and connect!
    </p>
    <div></div>
    <div></div>
</div>
</section>
<!-- category -->
<!-- EXPERIENCE -->
<section class="jumbotron" id="experience" #experience>
    <div class="container">
        <h1 class="jumbotron-heading">Experience</h1>
        <hr class="bigDivide">
        <br>
        <!-- INFOSYS 
            Aetna
            Molina
            BC BS

            Coverage Module
            Product Module

            SLA ticketing system
            popups
            home page
            release notes
            user guide
            assisted with onboarding
         
        -->
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <img class="logo" src='assets/images/pngimages/Infosys_logo.png' alt="infosys">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-1">
                    <h3>UI Developer</h3> 
                    <!-- <div class="flex-shrink-0">Dec '21 - Oct '23</div> -->
                </div>
                <hr class="smallDivide">
                    <!-- CARD -->
                     <!-- <h3>Helix Hub</h3> -->
                    <div class="row">
                        <div class="p-1 col-4">
                            <div class="card card-body card-design" style="display: flex;">
                                <h5 class="card-title">SLA Ticket System</h5>
                                <p class="card-text card-space">
                                    Worked with team through full software development lifecycle for application to assist providers (Aetna, Molina, & Blue Cross Blue Shield) 
                                    organize, track, update, and elevate required services to meet client needs. 
                                </p>
                                <div >
                                    <div class="row" style="display: flex; justify-content: flex-end;">
                                        <app-icon-box class="p-1 col-4" 
                                            Title='TypeScript'>
                                        </app-icon-box>
                                        <app-icon-box class="p-1 col-4" 
                                            Title='Angular'>
                                        </app-icon-box>
                                        <app-icon-box class="p-1 col-4" 
                                            Title='Swagger'>
                                        </app-icon-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-1 col-4">
                            <div class="card card-body card-design">
                                <h5 class="card-title">Multi Module</h5>
                                <p class="card-text card-space">
                                    Updated functionality across application to enable companies to mix and match multiple modules from strictly this-or-that module system.
                                    Enabling wider range of business application options for current clients and easy management for new clients.   
                                </p>
                                <div class="row">
                                    <app-icon-box class="p-1 col-4" 
                                        Title='HTML'>
                                    </app-icon-box>
                                    <app-icon-box class="p-1 col-4" 
                                        Title='CSS'>
                                    </app-icon-box>
                                    <app-icon-box class="p-1 col-4" 
                                        Title='Jira'>
                                    </app-icon-box>
                                </div>
                                
                            </div>
                        </div>
                        <div class="p-1 col-4">
                            <div class="card card-body card-design">
                                <h5 class="card-title">Search Feature</h5>
                                <p class="card-text card-space">
                                    Created functionality for searching relevant terms for user guide, new releases, ticket numbers, ticket contents, and app pages. 
                                    Modeled after search engines and with most frequent searches dropping down to take you to the relevant content with one click.
                                </p>
                                <div class="row">
                                    <app-icon-box class="p-1 col-4" 
                                        Title='Angular'>
                                    </app-icon-box>
                                    <app-icon-box class="p-1 col-4" 
                                        Title='Java'>
                                    </app-icon-box>
                                    <app-icon-box class="p-1 col-4" 
                                        Title='PostgreSQL'>
                                    </app-icon-box>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
        <!-- REVATURE -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <img class="logo" src='assets/images/pngimages/Revature_logo.png' alt="revature">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-1">
                    <h3>Full Stack Developer</h3>
                    <!-- <div class="flex-shrink-0">Sept '21 - Dec '21</div> -->
                </div>
                <hr class="smallDivide">
                <!-- CARD -->
                <div class="row">
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/Revature-LifeSigns">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7">LifeSigns</h5>
                            </div>
                            <p class="card-text card-space">Foundational application for hospital management system to help 
                                patients, doctors, nurses, and receptionists connect, communicate and share information. 
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='TypeScript'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Angular'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='HTML'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSS'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Java'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Spring'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://gitlab.com/miwhitaker/entertainmentdb">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7">MyMDB</h5>
                            </div>
                            <p class="card-text card-space">
                                An imagining of IMDB as a social platform where you can 
                                list your own movies, rate them, and view friend's movie pages
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='TypeScript'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Angular'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='HTML'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Bootstrap'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Java'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Spring'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/ZachJZ/Revature-Project-Zero">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-9">Expense System</h5>
                            </div>
                            <p class="card-text card-space">
                                A simple system to categorize create and track employee reimbursement.
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Java'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Eclipse'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
    </div>
</section>

<!-- SKILLS -->
<section class="jumbotron" id="skills" #skills>
    <div class="container">
        <h1 class="jumbotron-heading">Skills</h1>
        <hr class="bigDivide">
        <br>
        <h3>Programming Languages</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='TypeScript'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Java'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='HTML'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='CSS'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='CSharp'>
                </app-icon-box>
                <div class="pl-0 col-2">
                </div>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
        <h3>Front End</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='Angular'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Jasmine'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Karma'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Swagger'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Bootstrap'>
                </app-icon-box>
                <div class="pl-0 col-2">
                </div>
            </div>
        </div>
        <h3>Back End & Database</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='PostgreSQL'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Hibernate'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='JUnit'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Maven'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Spring'>
                </app-icon-box>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='AWS'>
                </app-icon-box>
            </div>
        </div>
        <h3>Other Skills</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='Unity'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Word'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Excel'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Powerpoint'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Azure'>
                </app-icon-box>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='Audacity'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Kubernetes'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='Docker'>
                </app-icon-box>
                <app-icon-box class="col-2" 
                    Title='GitHub'>
                </app-icon-box>
                <app-icon-box class="pl-5 col-4" style="max-width: 122px;"
                    Title='Jira'>
                </app-icon-box>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <app-icon-box class="col-2" 
                    Title='Aseprite'>
                </app-icon-box>
            </div>
        </div>
    </div>
</section>

<!-- EDUCATION -->
<section class="jumbotron" id="education" #education>
    <div class="container">
        <h1 class="jumbotron-heading">Education</h1>
        <hr class="bigDivide">
        <br>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">

                <div class="d-flex flex-column flex-md-row justify-content-between mb-1">
                    <h3>Bachelor of Science - Game Design</h3>
                    <div class="flex-shrink-0">Aug '15 - Mar '18</div>
                </div>
                <div class="justify-content-between align-items-center">
                    <h4 class="subheading mb-3">&commat;Full Sail University</h4>
                </div>
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <ul>
                                    GPA: 3.78 / 4.0
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-0.5 ml-2"></div>
                                    <a href="https://store.steampowered.com/app/868070/Through_The_Tomb/" target="_blank" style="font-weight: bold;">
                                        <img class="smIcon" style="margin-left: 0.5vw; width: 80%" src='/assets/images/svgimages/steam-icon.svg' alt="steamlogo">
                                    </a>
                                </div>
                                <h5 class="card-title col-7 ml-4">Through The Tomb</h5>
                            </div>
                            <p class="card-text card-space">
                                Released as degree capstone. A parkour-platform collect-a-thon where you navigate obstacles, avoid enemies, and solve puzzles to escape the tomb. 
                            </p>
                            <img style="width: 80%" src="/assets/images/pngimages/ThroughTheTomb.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                            </div>
                            <div class="card-text card-space">
                                <p>
                                    Development: Oct 2017 - May 2018 <br>
                                </p>
                                <a href="https://docs.google.com/document/d/1XCR8srLfaXg_vQ64-aVNZo799nuUdxk72wy06L9KGRg/edit?usp=sharing" target="_blank" style="font-weight: bold;">
                                    Design Doc <br>
                                </a>
                                <p>
                                    REWRITE Developed as the degree capstone project by five Game Design Students
                                </p>
                            </div>

                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Perforce'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="p-1 col-6">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a>
                                    <img class="smIcon" style="margin-left: 0.5vw; width: 80%" src='/assets/images/pngimages/Full-Sail-University-Emblem.png' alt="FullSail">
                                </a>
                                <h5 class="card-title col-7">Coursework Games</h5>
                            </div>
                            <p class="card-text card-space">
                                Using C# and Unity throughout my degree I recreated retro games like Pong, Pitfall, and Galaga; created several original 
                                games based on given themes like "Leave something behind" or to fit specifications like "Is a strategy game"; 
                                created games based on flowcharts; worked within an environment already made to create additional connected levels; 
                            </p>
                        </div>
                    </div>
                    <div class="p-1 col-6">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a>
                                    <img class="smIcon" style="margin-left: 0.5vw; width: 80%" src='/assets/images/pngimages/Full-Sail-University-Emblem.png' alt="FullSail">
                                </a>
                                <h5 class="card-title col-7">Screenshots</h5>
                            </div>
                            <!-- https://en.wikipedia.org/wiki/Pitfall! -->
                            <!-- <img style="width: 100%" src="/assets/images/pngimages/ShipBlaster.png"> -->
                            <!-- Slideshow container -->
                            <div class="slideshow-container">

                                <!-- Full-width images with number and caption text -->
                                <div class="mySlides fade">
                                    <div class="numbertext"></div>
                                    <img src="/assets/images/pngimages/ShipBlaster.png" style="width:100%">
                                    <div class="text">Galaga Iteration</div>
                                </div>
                                <!-- <div class="mySlides fade">
                                    <div class="numbertext">2 / 4</div>
                                    <img src="/assets/images/pngimages/ThroughTheTomb.png" style="width:100%">
                                    <div class="text">Through The Tomb</div>
                                </div> -->
                                <div class="mySlides fade">
                                    <div class="numbertext"></div>
                                    <img src="/assets/images/pngimages/Degree Pics/Bedroom.png" style="width:100%">
                                    <div class="text">Bedroom Level</div>
                                </div>
                                <div class="mySlides fade">
                                    <div class="numbertext"></div>
                                    <img src="/assets/images/pngimages/Degree Pics/POngGame.png" style="width:100%">
                                    <div class="text">Pong Recreation</div>
                                </div>
                                <div class="mySlides fade">
                                    <div class="numbertext"></div>
                                    <img src="/assets/images/pngimages/Degree Pics/SpaceRacerLv1.png" style="width:100%">
                                    <div class="text">Physics Racing</div>
                                </div>
                            
                                <!-- Next and previous buttons -->
                                <a class="prev" (click)="minusSlides()">&#10094;</a>
                                <a class="next" (click)="plusSlides()">&#10095;</a>
                            </div>
                            <br>
                            
                            <!-- The dots/circles -->
                            <div style="text-align:center">
                                <span class="dot" (click)="currentSlide(1)"></span>
                                <span class="dot" (click)="currentSlide(2)"></span>
                                <span class="dot" (click)="currentSlide(3)"></span>
                                <span class="dot" (click)="currentSlide(4)"></span>
                                <!-- <span class="dot" (click)="currentSlide(5)"></span> -->
                            </div>
                            <!-- SLIDESHOW END -->
                            <!-- <div class="card-text card-space">
                                <li>
                                    An imagining of IMDB as a social platform where you can 
                                    list your own movies, rate them, and view friend's movie pages
                                </li>
                                <li>
                                    An imagining of IMDB as a social platform where you can 
                                    list your own movies, rate them, and view friend's movie pages
                                </li>
                            </div> -->
                            <!-- <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='TypeScript'>
                                </app-icon-box>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="flex-shrink-0">Aug '15 - Mar '18</div> -->
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section class="jumbotron" id="projects" #projects>
    <div class="container">
        <h1 class="jumbotron-heading" >Projects</h1>
        <!-- <h1>Projects</h1> -->
        <hr class="bigDivide">
        <br>
        <!-- DEVELOPER -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h3>Professional</h3>
                <hr class="smallDivide">
                <!-- THROUGH THE TOMB -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://store.steampowered.com/app/868070/Through_The_Tomb/" target="_blank" style="font-weight: bold;">
                                            Through The Tomb
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <p class="card-text card-space">
                                A parkour-platform collect-a-thon where you navigate obstacles, avoid enemies, and solve puzzles to escape the tomb. 
                            </p>
                            <img style="width: 80%" src="/assets/images/pngimages/ThroughTheTomb.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                            </div>
                            <p class="card-text card-space">
                                Development: Oct 2017 - May 2018 <br><br>
                                Developed as the degree capstone project by five Game Design Students
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Perforce'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <h3>Personal</h3>
                <hr class="smallDivide">
                <!-- THROUGH THE TOMB -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://store.steampowered.com/app/868070/Through_The_Tomb/" target="_blank" style="font-weight: bold;">
                                            Through The Tomb
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <p class="card-text card-space">
                                A parkour-platform collect-a-thon where you navigate obstacles, avoid enemies, and solve puzzles to escape the tomb. 
                            </p>
                            <img style="width: 80%" src="/assets/images/pngimages/ThroughTheTomb.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                            </div>
                            <p class="card-text card-space">
                                Development: Oct 2017 - May 2018 <br><br>
                                Developed as the degree capstone project by five Game Design Students
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Perforce'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- MUNDANE -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <!-- <a target="_blank" href="https://github.com/Revature-LifeSigns">
                                    <img class="smIcon" style="margin-left: 1vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a> -->
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://ldjam.com/events/ludum-dare/47/late-for-work-escape-the-mundane" target="_blank" style="font-weight: bold;">
                                            Escape The Mundane
                                        </a> &commat; 
                                        <a href="https://ldjam.com/events/ludum-dare/47/" target="_blank" style="font-weight: bold;">
                                            Ludum Dare 47
                                        </a>
                                        <!-- [Team, Jam] -->
                                    </p>
                                    <!-- <div class="flex-shrink-0">Oct 2th-5th, 2020</div> -->
                                </div>
                            </div>
                            <p class="card-text card-space">
                                A quick game where you collect items to break out of your regular workweek and make it to a fun weekend
                            </p>
                            <img style="width: 80%" src="..\assets\images\pngimages\escapeTheMundane.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/ZachJZ/Ludum-Dare-47">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7"><a target="_blank" href="https://github.com/ZachJZ/Ludum-Dare-47">GitHub</a></h5>
                            </div>
                            <p class="card-text card-space">
                                Theme: Stuck in a loop <br>
                                Duration: Oct 2th-5th, 2020 <br>
                                [Team, Jam]
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Aseprite'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- SUMMONER -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <!-- <a target="_blank" href="https://github.com/Revature-LifeSigns">
                                    <img class="smIcon" style="margin-left: 1vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a> -->
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://ldjam.com/events/ludum-dare/46/s5-summoner-shooting-skeletons-saving-something" target="_blank" style="font-weight: bold;">
                                            Summoner Shooting Skeletons
                                        </a> &commat; 
                                        <a href="https://ldjam.com/events/ludum-dare/46/" target="_blank" style="font-weight: bold;">
                                            Ludum Dare 46
                                        </a>
                                        <!-- [Team, Jam] -->
                                    </p>
                                    <!-- <div class="flex-shrink-0">Oct 2th-5th, 2020</div> -->
                                </div>
                            </div>
                            <p class="card-text card-space">
                                A quick game where you collect items to break out of your regular workweek and make it to a fun weekend
                            </p>
                            <img style="width: 80%" src="..\assets\images\pngimages\summoner.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/ZachJZ/LudumDare46_KeepItAlive">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7"><a target="_blank" href="https://github.com/ZachJZ/LudumDare46_KeepItAlive">GitHub</a></h5>
                            </div>
                            <p class="card-text card-space">
                                Theme: Keep it alive <br>
                                Duration: Apr 17th-20th, 2020<br>
                                [Solo, Jam]
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Aseprite'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Slime Slayer -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://ldjam.com/events/ludum-dare/45/slime-slayer/" target="_blank" style="font-weight: bold;">
                                            Slime Slayer
                                        </a> &commat; 
                                        <a href="https://ldjam.com/events/ludum-dare/45/" target="_blank" style="font-weight: bold;">
                                            Ludum Dare 45
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <p class="card-text card-space">
                                My second game jam. A short platform fighter where you defeat slimes to reach a high score.  
                            </p>
                            <img style="width: 80%" src="..\assets\images\pngimages\slimeSlayer.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/ZachJZ/LudumDare45_ZachZum_StartWithNothing">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7"><a target="_blank" href="https://github.com/ZachJZ/LudumDare45_ZachZum_StartWithNothing">GitHub</a></h5>
                            </div>
                            <p class="card-text card-space">
                                Theme: Start with nothing <br>
                                Duration: Oct 4th-7th, 2019 <br>
                                [Solo, Compo]
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Aseprite'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Slime Slayer -->
                <div class="row">
                    <div class="p-1 col-8">
                        <div class="card card-body card-design">
                            <div class="row">
                                <!-- <a target="_blank" href="https://github.com/Revature-LifeSigns">
                                    <img class="smIcon" style="margin-left: 1vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a> -->
                                <div class="d-flex flex-column flex-md-row justify-content-between mb-2 ml-2">
                                    <p>
                                        <a href="https://ldjam.com/events/ludum-dare/43/slime-dungeon" target="_blank" style="font-weight: bold;">
                                            Slime Dungeon
                                        </a> &commat; 
                                        <a href="https://ldjam.com/events/ludum-dare/43/" target="_blank" style="font-weight: bold;">
                                            Ludum Dare 43
                                        </a>
                                    </p>
                                    <!-- <div class="flex-shrink-0">Oct 2th-5th, 2020</div> -->
                                </div>
                            </div>
                            <p class="card-text card-space">
                                Completed my first game jam after graduating as a solo developer for Compo and released for Ludum Dare 43.
                            </p>
                            <img style="width: 60%" src="..\assets\images\pngimages\SlimeDungeon.png">
                        </div>
                    </div>
                    <div class="p-1 col-4">
                        <div class="card card-body card-design">
                            <div class="row">
                                <div class="col-0.5"></div>
                                <a target="_blank" href="https://github.com/ZachJZ/SlimeDungeonLD43">
                                    <img class="smIcon" style="margin-left: 0.5vw;" src='/assets/images/svgimages/github-icon.svg' alt="gitLink">
                                </a>
                                <h5 class="card-title col-7"><a target="_blank" href="https://github.com/ZachJZ/SlimeDungeonLD43">GitHub</a></h5>
                            </div>
                            <p class="card-text card-space">
                                Theme: Sacrifices must be made <br>
                                Duration: Nov 30th-Dec 3rd, 2018 <br>
                                [Solo, Compo]
                            </p>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='CSharp'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Unity'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='VS 2015'>
                                </app-icon-box>
                            </div>
                            <div class="row">
                                <app-icon-box class="p-1 col-4" 
                                    Title='Aseprite'>
                                </app-icon-box>
                                <app-icon-box class="p-1 col-4" 
                                    Title='Audacity'>
                                </app-icon-box>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
        <h3>Community Event Organizer</h3>
        <br>
        <!-- GAME MASTER -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h3></h3>
                <div class="justify-content-between align-items-center">
                    <h4 class="subheading mb-3"></h4>
                </div>
                <ul>
                    Game Master
                </ul>
            </div>
            <div class="flex-shrink-0">Dec '17 - Jan '24</div>
        </div>
    </div>
</section>
<!-- 
<footer class="text-muted">
    <div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    </div>
</footer> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script> -->