<section class="jumbotron text-center">
<div class="container">
    <h1 class="jumbotron-heading">About</h1>
    <p class="lead text-muted">Zach is a software developer with a vision for shaping the future with innovative technology. 
        He became passionate about programming when he learned how to could create systems and solve problems, and since then it has grown into a desire to  
        focus on crafting user-centric solutions to make life easier and more convenient for clients. His expertise is in UI design, front-end development, and 
        technologies based around Angular and TypeScript. Bringing a thoughtful, adaptable approach to every project, he prioritizes clear 
        communication, integrity, and sustainability in the work he does. If you share that vision for impactful technology, explore this portfolio and connect!</p>
    <p>
    <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a>
    <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
    </p>
</div>
</section>
<!-- category -->
<!-- EXPERIENCE -->
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading" id="experience">Experience</h1>
        <br>
        <!-- INFOSYS -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h3>UI Developer</h3>
                <div class="justify-content-between align-items-center">
                    <h4 class="subheading mb-3">&commat;Infosys</h4>
                </div>
                <ul>
                    Leveraged experience with Angular/Typescript libraries ngx-bootstrap, angular-ui-grid, and prime-ng to complete product release of SLA Ticket System app with additional document upload history and search systems in 3-week sprints using JIRA/scrumban and AGILE workflow. 
                    Consistently completed 20-30 defects/improvements and delivered 1-3 features per sprint, contributing to a 95% minimum weekly and 99% overall adherence to SLA deadlines. Achieved a 90% effectiveness rate in resolving defects within 24 hours, ensuring prompt issue resolution and maintaining high-quality standards.
                    Developed critical features including an application-wide search feature, notification system for User Guide, Release Notes, SLA events, and PDF upload/access tracking, demonstrating proficiency in frontend development and enhancing platform functionality.
                    Collaborated with the Project Owner to assist users with account creation, troubleshoot issues, and provide ongoing support, ensuring effective platform utilization and user satisfaction.                        
                </ul>
            </div>
            <div class="flex-shrink-0">Dec '21 - Oct '23</div>
        </div>
        <!-- REVATURE -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h3>Full Stack Developer</h3>
                <h4 class="subheading mb-3">&commat;Revature</h4>
                <ul>
                    Trained Java-Angular fullstack and associated technologies creating three applications: a basic Expense Reimbursement System; MyMDB, a movie review database; and LifeSigns, a hospital management application
                    Developed frontend with Angular, TypeScript, HTML/CSS, and Bootstrap to create responsive user experience across devices and platforms.
                    Utilized Java technologies like JDBC, Hibernate, and Spring MVC, coupled with PostgreSQL and Maven, for efficient database management and project scalability.
                    Leveraged AWS including RDS, S3, and EC2 for effective cloud infrastructure deployment and management, meeting project requirements.
                    Employed JUnit for backend testing, Jasmine for frontend behavior validation, and Mockito for dependency simulation, ensuring 75-90%+ testing coverage throughout each project lifecycle.
                    Implemented DevOps practices through Continuous Delivery using Jenkins pipeline to automate builds, testing, and deployment.  
                </ul>
            </div>
            <div class="flex-shrink-0">Sept '21 - Dec '21</div>
        </div>
    </div>
</section>

<!-- SKILLS -->
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading" id="education">Skills</h1>
        <br>
        <h3>Programming Languages</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\typescript-programming-language-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        TypeScript
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="assets\images\svgimages\java-programming-language-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        Java
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\html-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        HTML
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="..\assets\images\svgimages\css-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        CSS
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\c-sharp-programming-language-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        C#
                    </div>
                </div>
                <div class="pl-0 col-2">
                </div>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
        <h3>Front End</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="../assets/images/svgimages/angular-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        Angular
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img style="margin-left: 1.7vw;" class="icon" src="..\assets\images\svgimages\Logo_jasmine.svg" alt="IMAGE">
                    <div class="text-center">
                        Jasmine
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\karma-seeklogo.svg" alt="IMAGE">
                    <div class="text-center">
                        Karma
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\Swagger.svg" alt="IMAGE">
                    <div class="text-center">
                        Swagger
                    </div>
                </div>
                <div class="pl-0 col-2">
                </div>
            </div>
        </div>
        <h3>Back End & Database</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\postgresql-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        PostgreSQL
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\mysql-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        MySQL
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="../assets/images/svgimages/angular-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        Blank
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="../assets/images/svgimages/angular-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        Hibernate
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="../assets/images/svgimages/angular-icon.svg" alt="IMAGE">
                    <div class="text-center">
                        JUnit
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Maven
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Spring Boot, Data, MVC
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        AWS RDS, S3, EC2
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Hibernate
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        JUnit
                    </div>
                </div>
            </div>
        </div>
        <h3>Other Skills</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Mictosoft Word
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Mictosoft Excel
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Mictosoft Powerpoint
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Mictosoft Azure
                    </div>
                </div>
                <div class="pl-0 col-2">
                    <img class="icon" src="\assets\images\svgimages\maven-svgrepo-com.svg" alt="IMAGE">
                    <div class="text-center">
                        Blank
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10 row">
                <div class="justify-content-between align-items-center">
                    <ul>
                    </ul>
                </div>
                <div class="pl-0 col-2">
                    
                </div>
                <div class="pl-0 col-2">
                    Kubernetes
                </div>
                <div class="pl-0 col-2">
                    Docker
                </div>
                <div class="pl-0 col-2">
                    GitHub
                </div>
                <div class="pl-0 col-2">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EDUCATION -->
<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading" id="education">Education</h1>
        <br>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <div class="d-flex flex-column flex-md-row justify-content-between mb-1">
                    <h3>Bachelor of Science - Game Design</h3>
                    <div class="flex-shrink-0">Aug '15 - Mar '18</div>
                </div>
                <div class="justify-content-between align-items-center">
                    <h4 class="subheading mb-3">&commat;Full Sail University</h4>
                </div>
                <ul>
                    GPA: 3.78 out of 4.0
                </ul>
                <ul>
                    Member of National Society of Collegiate Scholars
                </ul>
                <ul>
                    Capstone
                </ul>
                <ul>
                    Asteroid Game
                </ul>
                <ul>
                    Crypt Combat
                </ul>
                <ul>
                    Capstone
                </ul>
            </div>
            <!-- <div class="flex-shrink-0">Aug '15 - Mar '18</div> -->
        </div>
    </div>
</section>

<!-- INTERESTS -->
<section class="jumbotron">
    <div class="container">
        <!-- <h1 class="jumbotron-heading" id="education">Interests</h1> -->
        <h1>Interests</h1>
        <hr class="bigDivide">
        <h3>Game Developer</h3>
        <br>
        <!-- DEVELOPER -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h5>Game Jams</h5>
                <hr class="smallDivide">
                <!-- MUNDANE -->
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
                        <h6>
                            <a href="https://ldjam.com/events/ludum-dare/47/late-for-work-escape-the-mundane" target="_blank">
                                Escape The Mundane
                            </a> &commat; 
                            <a href="https://ldjam.com/events/ludum-dare/47/" target="_blank">
                                Ludum Dare 47
                            </a>
                            [Team, Jam]
                        </h6>
                        <div class="flex-shrink-0">Oct 2th-5th, 2020</div>
                    </div>
                    <ul>
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
                            <div>
                               Lorem ipsum
                           </div>
                        </div>
                        <img style="width: 100%" src="..\assets\images\pngimages\escapeTheMundane.png">
                    </ul>
                </div>
                <hr>
                <!-- SUMMONER -->
                 <div>
                     <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
                         <h6>
                             <a href="https://ldjam.com/events/ludum-dare/46/s5-summoner-shooting-skeletons-saving-something" target="_blank">
                                 Summoner Shooting Skeletons
                             </a> &commat; 
                             <a href="https://ldjam.com/events/ludum-dare/46/" target="_blank">
                                 Ludum Dare 46
                             </a>
                             [Solo, Jam]
                         </h6>
                         <div class="flex-shrink-0">Apr 17th-20th, 2020</div>
                     </div>
                     <ul>
                         <div>
                            Lorem ipsum
                         </div>
                         
                         <img style="width: 100%" src="..\assets\images\pngimages\summoner.png">
                     </ul>
                 </div>
                <hr>
                <!-- Slime Slayer -->
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
                        <h6>
                            <a href="https://ldjam.com/events/ludum-dare/45/slime-slayer/" target="_blank">
                                Slime Slayer
                            </a> &commat; 
                            <a href="https://ldjam.com/events/ludum-dare/45/" target="_blank">
                                Ludum Dare 45
                            </a>
                            [Solo, Compo]
                        </h6>
                        <div class="flex-shrink-0">Oct 4th-7th, 2019</div>
                    </div>
                    <ul>
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
                            <div>
                                Completed my first game jam after graduating as a solo developer for Compo and released 
                                Tools and Technologies used: Aesprite, Audacity, C#, Unity, 

                            </div>
                        </div>
                        <img style="width: 100%" src="..\assets\images\pngimages\slimeSlayer.png">
                    </ul>
                </div>
            </div>
            <div class="flex-shrink-0"></div>
        </div>
        <h3>Community Event Organization</h3>
        <br>
        <!-- GAME MASTER -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="pl-0 col-10">
                <h3></h3>
                <div class="justify-content-between align-items-center">
                    <h4 class="subheading mb-3"></h4>
                </div>
                <ul>
                    Game Master
                </ul>
            </div>
            <div class="flex-shrink-0">Dec '17 - Jan '24</div>
        </div>
    </div>
</section>
<!-- 
<footer class="text-muted">
    <div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    </div>
</footer> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script> -->